.privacy-content ul, .privacy-content ol {
  margin: 15px 0 30px 2em;
}
.privacy-content p {
  margin-bottom: 30px;
}
.privacy-content .heading-01 {
  position: relative;
  margin: 0 0 15px 0;
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.privacy-content ol {
  list-style: decimal;
}
.privacy-content ul {
  list-style: disc;
}
.privacy-content .back_to_top {
  text-align: center;
}