#site_footer {
  background-color: #050314;
  padding: 7rem 2rem;
  text-align: center;
  .footer_wrap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .menu_footer {
      color: #313131;
      font-weight: bold;

      font-size: 1.1em;

      a {
        color: inherit;
      }
    }
    .copyright {
      font-size: 1.4rem;
    }
  }
}
