#site_header {
  position: fixed;
  z-index: +999;
  width: fit-content;
  top: 0;
  left: 0;
  background-image: url(../images/header_bg.svg);
  padding: 4rem 1rem 7.5rem;
  background-repeat: no-repeat;
  background-position: top left;
}
.header_logo {
  display: inline-block;
  a {
    display: block;
  }
}
