#section3 {
  background-image: url(../images/section3_bg.webp);
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  z-index: +1;
  margin-top: -20rem;
  padding-top: 30rem;
  padding-bottom: 40rem;
  @include sp {
    padding-bottom: 16rem;
  }
  .groups {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    .item {
      width: 56rem;
      position: relative;
      .item_bg {
        position: relative;
        z-index: -1;
        img {
          width: 100%;
        }
      }
      .item_detail {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .label {
          position: absolute;
          top: -1rem;
          width: 100%;
          text-align: center;
          @include sp {
            font-size: 1.8rem;
          }
          @include pc {
            font-size: 2.5rem;
          }
          &.pink {
            color: #ff00d6;
          }
          &.blue {
            color: #3fead7;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          @include pc {
            padding: 7.5rem 3.5rem 3rem;
          }
          @include sp {
            padding: 5rem 3.5rem 3rem;
          }
          .arrow {
            img {
              display: block;
              margin: 0 auto;
            }
            span {
              display: block;
              @include sp {
                font-size: 1.4rem;
              }
            }
            &_left {
              color: #ff9900;
              img {
                width: calc(100% + 1rem);
                max-width: inherit;
                margin-left: -1rem;
              }
            }
          }
          .group {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3rem;
            @include sp {
              gap: 1rem;
              .img {
                width: 5rem;
              }
            }
            .detail {
              width: 50%;
              @include sp {
                width: calc(100% - 12rem);
              }
              .txt_label {
                width: 100%;
                background-color: #efe600;
                color: #000;
                border-radius: 10rem;
                padding: 0.75rem;
                padding-top: 0.5rem;
                @include sp {
                  font-size: 1.4rem;
                }
              }
              .percent {
                font-size: 6rem;
                @include sp {
                  line-height: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}
