#section1 {
  background-image: url(../images/section1_bg.webp);
  background-position: top center;
  position: relative;
  z-index: +1;
  padding-top: 20rem;
  margin-top: -20rem;
  .groups {
    display: flex;
    .item {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 7rem;
      background-size: cover;
      background-position: center;
      padding: 6.5rem 2rem;
      .txt {
        p {
          font-size: 1.8rem;
          color: #000;
        }
        .label {
          display: block;
          background-color: #efe600;
          border-radius: 10rem;
          text-align: center;
          font-size: 2.2rem;
          line-height: 2;
          min-width: 27rem;
          max-width: 100%;
        }
      }

      &:nth-child(1) {
        padding-right: 8rem;
        background-image: url(../images/section1_bg1.webp);
        justify-content: flex-end;
        .txt {
          text-align: center;
        }
      }
      &:nth-child(2) {
        padding-left: 8rem;
        background-image: url(../images/section1_bg2.webp);
      }
    }
  }
}
