#section1 {
  background-image: url(../images/section1_bg.webp);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  z-index: +1;
  @include sp {
    padding-top: 15rem;
    margin-top: -12rem;
  }
  @include pc {
    padding-top: 20rem;
    margin-top: -20rem;
  }
  .groups {
    display: flex;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    @include sp {
      flex-direction: column;
    }
    .item {
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: center;
      @include sp {
        width: 100%;
      }
      @include pc {
        width: 50%;
        padding: 6.5rem 2rem;
        gap: 7rem;
      }
      @media screen and (max-width: 1200px) {
        flex-direction: column;
        padding: 3rem 2rem;
        gap: 1rem;
      }
      .img img {
        @include sp {
          width: 16rem;
        }
      }
      .txt {
        @media screen and (max-width: 1200px) {
          order: 2;
        }
        p {
          font-size: 1.8rem;
          color: #000;
          text-align: center;
          span {
            display: inline-block;
            padding: 1rem;
            background: rgba(255, 255, 255, 0.6);
          }
        }
        .label {
          display: block;
          background-color: #efe600;
          border-radius: 10rem;
          text-align: center;
          font-size: 2.2rem;
          line-height: 2;
          min-width: 27rem;
          max-width: 100%;
        }
      }

      &:nth-child(1) {
        background-image: url(../images/section1_bg1.webp);
        @include pc {
          justify-content: flex-end;
          padding-right: 8rem;
        }
      }
      &:nth-child(2) {
        background-image: url(../images/section1_bg2.webp);
        @include pc {
          padding-left: 8rem;
        }
      }
    }
  }
}
