
.thanks-content {
  text-align: center;
  .line {
    background-color: #07b53b;
    color: #fff;
    padding: 3rem;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 3rem auto;
    display: block;
    text-decoration: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border-radius: 0.3rem;
  }
  .line1 {
    margin: 10px auto;
    width: 80%;
    border: 1px dashed #fff;
  }
}
