@import "variable";
.fade-in {
  opacity: 0;
}
.fade-in.aos-animate {
  animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-up {
  display: block;
  opacity: 0;
  transform: translateY(20rem);
}
.fade-up.aos-animate {
  animation: fadeUp 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-down {
  display: block;
  opacity: 0;
  transform: translateY(20rem);
}
.fade-down.aos-animate {
  animation: fadeDown 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-splash {
  display: block;
  opacity: 0;
}
.fade-splash.aos-animate {
  animation: fade_splash 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fade_splash {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.zoom-in {
  transform: scale(0.8);
  opacity: 0;
}
.zoom-in.aos-animate {
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.zoom-in-up {
  transform: scale(0.8) translateY(10rem);
  opacity: 0;
}
.zoom-in-up.aos-animate {
  animation: zoomInUp 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes zoomInUp {
  0% {
    transform: scale(0.8) translateY(10rem);
    opacity: 0;
  }
  60% {
    transform: scale(0.85) translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

[data-aos-delay="100"].aos-animate {
  animation-delay: 0.1s;
}

[data-aos-delay="200"].aos-animate {
  animation-delay: 0.2s;
}

[data-aos-delay="300"].aos-animate {
  animation-delay: 0.3s;
}

[data-aos-delay="400"].aos-animate {
  animation-delay: 0.4s;
}

[data-aos-delay="500"].aos-animate {
  animation-delay: 0.5s;
}

[data-aos-delay="600"].aos-animate {
  animation-delay: 0.6s;
}

[data-aos-delay="700"].aos-animate {
  animation-delay: 0.7s;
}

[data-aos-delay="800"].aos-animate {
  animation-delay: 0.8s;
}

[data-aos-delay="900"].aos-animate {
  animation-delay: 0.9s;
}

[data-aos-delay="1000"].aos-animate {
  animation-delay: 1s;
}
@media screen and (min-width: 768px) {
  [data-aos-delay-pc="100"].aos-animate {
    animation-delay: 0.1s;
  }

  [data-aos-delay-pc="200"].aos-animate {
    animation-delay: 0.2s;
  }

  [data-aos-delay-pc="300"].aos-animate {
    animation-delay: 0.3s;
  }

  [data-aos-delay-pc="400"].aos-animate {
    animation-delay: 0.4s;
  }

  [data-aos-delay-pc="500"].aos-animate {
    animation-delay: 0.5s;
  }

  [data-aos-delay-pc="600"].aos-animate {
    animation-delay: 0.6s;
  }

  [data-aos-delay-pc="700"].aos-animate {
    animation-delay: 0.7s;
  }

  [data-aos-delay-pc="800"].aos-animate {
    animation-delay: 0.8s;
  }

  [data-aos-delay-pc="900"].aos-animate {
    animation-delay: 0.9s;
  }

  [data-aos-delay-pc="1000"].aos-animate {
    animation-delay: 1s;
  }
}

#splash {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: #ff740f;
  text-align: center;
  color: #fff;
}

/* Loadingバー中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  .progressbar-text {
    @include sp {
      font-size: 3rem;
    }
    @include pc {
      font-size: 6rem;
    }
  }
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg {
  display: block;
  margin: 0 auto;
  @include sp {
    height: 0.6rem;
  }
  @include pc {
    height: 1rem;
  }
}
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear {
  #splash {
    background-color: #ff740f;
    #splash_text {
      display: none;
    }
  }
  .splashbg {
    display: block;
    content: "";
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: scaleY(0);
    background-color: #fff; /*伸びる背景色の設定*/
    animation-name: PageAnime;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes PageAnime {
  0% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
}
#main {
  display: flex;
  justify-content: center;
  @include sp {
    background-image: url(../images/main.webp);
    min-height: 41rem;
    align-items: end;
    background-size: contain;
  }
  @include pc {
    align-items: center;
    background-image: url(../images/main_pc.webp);
    min-height: 80rem;
    background-size: cover;
  }
  img {
    margin: 0 auto;
  }
  .main_wrap {
    @include pc {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 2rem;
    }
  }
  .main_text {
    margin: 0;
    @include sp {
      margin-bottom: 1rem;
      padding: 0 2rem;
    }
    @include pc {
      width: 60%;
      margin-right: 2rem;
    }
    picture {
      img {
        @include sp {
          width: 30rem;
        }
        @include pc {
          margin-right: 0;
          margin-left: auto;
          max-width: 90%;
          display: block;
        }
      }
    }
    .main_txt_wrap {
      display: block;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .main_txt {
    display: flex;
    @include sp {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    @include pc {
      justify-content: center;
    }
    img {
      display: inline-block;
      width: auto;
      margin: 0;
      opacity: 0;
      transform: translateY(50%);
      @include sp {
        height: 3.2rem;
      }
      @include pc {
        height: 6rem;
      }
      @include tablet {
        height: 4rem;
      }
    }
    &_lg {
      img {
        @include sp {
          height: 5.6rem;
        }
        @include pc {
          height: 13.5rem;
        }
        @media screen and (min-width: 768px) and (max-width: 1600px) {
          height: 11rem;
        }
      }
    }
  }
  .main_desc {
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    @include sp {
      gap: 1rem;
      font-size: 1.6rem;
    }
    @include pc {
      font-size: 4rem;
      gap: 2rem;
    }
    .txt_shadow {
      text-shadow: 0.2rem 0.2rem 0.2rem #dd0000;
    }
    .btnripple,
    .btnripple_arrow {
      &::before,
      &::after {
        border-color: #fff;
        animation-name: circleanime_white;
      }
    }
    .btn_contact {
      background-color: #dd0000;
      color: #fff;
      box-shadow: none;
      border: 0.1rem solid #fff;
      font-weight: normal;
      line-height: 1.4;
      @include sp {
        font-size: 1.4rem;
        padding: 0.5rem 4rem;
      }
      @include pc {
        font-size: 2.4rem;
        padding: 1rem 4rem;
        border-radius: 5rem;
      }
      .lg {
        font-weight: bold;
        font-size: 1.6em;
      }
    }
    .time {
      @include sp {
        font-size: 1.4rem;
      }
      @include pc {
        font-size: 2rem;
      }
    }
  }
}
.loaded {
  #main {
    .main_txt {
      img {
        transition-duration: 400ms;
        transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        opacity: 1;
        transform: translateY(0);
        @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            transition-delay: 400 + $i * 50ms;
          }
        }
      }
    }
    .main_desc {
      transition-duration: 400ms;
      transition-delay: 600ms;
      opacity: 1;
    }
  }
}

#appraise {
  .wrap {
    display: flex;
    justify-content: center;
    gap: 2rem;
    @include sp {
      flex-direction: column;
    }
    @include pc {
      align-items: center;
      padding-top: 10rem;
    }
    .detail {
      @include pc {
        order: 2;
      }
      h2 {
        line-height: 1.4;
        margin-bottom: 0.75em;
        @include sp {
          font-size: 2.4rem;
        }
        @include pc {
          font-size: 3.5rem;
        }
        span {
          display: block;
        }
      }
      p {
        line-height: 1.8;
      }
    }
    .image {
      @include pc{
        width: 38rem;
      }
    }
  }
}
#available {
  position: relative;
  background-color: #ff740f;
  @include pc {
    display: flex;
    &::before,
    &::after {
      content: "";
      background-repeat: no-repeat;
      background-size: cover;
      width: 46rem;
    }
    &::before {
      background-image: url(../images/available_bg1.webp);
      background-position: top right;
    }
    &::after {
      background-image: url(../images/available_bg2.webp);
      background-position: top left;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1800px) { 
    &::before,
    &::after {
      width: 36rem;
    }
  }
  @include tablet{
    &::before,
    &::after {
      width: 26rem;
    }
  }
  .available_wrap {
    width: fit-content;
    margin: 0 auto;
    background-color: #ff740f;
  }
  .available_note {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff50f;
    color: #000;
    text-align: center;
    font-weight: bold;
    @include sp {
      font-size: 1.8rem;
    }
    @include pc {
      font-size: 3rem;
    }
    p {
      padding: 1rem;
      margin: 0;
    }
  }
  .available_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    .available {
      display: flex;
      align-items: center;
      color: #fff;
      @include sp {
        flex-direction: column;
        gap: 3rem;
      }
      picture {
        @include sp {
          width: 80%;
          margin: 0 auto;
        }
        @include pc {
          width: 54rem;
        }
        @include tablet{
          width: 46rem;
        }
      }
      .detail {
        width: max-content;
        h3 {
          margin-bottom: 0.5em;
          @include sp {
            font-size: 2.4rem;
          }
          @include pc {
            font-size: 3.5rem;
          }
        }
      }
      &_1 {
        picture {
          @include sp {
            margin-bottom: -8rem;
          }
          @include pc {
            margin-right: -5rem;
          }
        }
      }
      &_2 {
        picture {
          @include sp {
            margin-bottom: -6rem;
            margin-left: 0rem;
          }
          @include pc {
            width: 50rem;
            order: 2;
            margin-left: -10rem;
            margin-top: -5rem;
          }
        }
      }
    }
  }
}
#purchase {
  .purchase_wrap {
    display: flex;
    justify-content: center;
    gap: 3rem;
    @include sp {
      flex-direction: column;
      gap: 8rem;
      padding-top: 8rem;
      margin-left: -1rem;
      margin-right: -1rem;
    }
    @include pc {
      padding-top: 10rem;
    }
    .purchase {
      .purchase_item {
        height: 100%;
        position: relative;
        .purchase_item_inner {
          height: 100%;
          border-radius: 5rem;
          border: 0.1rem solid;
          overflow: hidden;
          display: flex;
          flex-direction: column;
        }
        .label_img {
          position: absolute;

          @include sp {
            width: 8rem;
          }
          @include pc {
            width: 10.46rem;
          }
        }
      }
      .purchase_photo {
        .purchase_item_inner {
          border-color: #dd0000;
        }
        .label_img {
          @include sp {
            top: -6rem;
            left: 0;
          }
          @include pc {
            top: -9rem;
            left: -1rem;
          }
        }
      }
      .purchase_delivery {
        .purchase_item_inner {
          border-color: #ff740f;
        }
        .label_img {
          @include sp {
            top: -6rem;
            right: 0;
          }
          @include pc {
            top: -9rem;
            right: -1rem;
          }
        }
      }
      .purchase_subtitle {
        font-family: "M PLUS 1p";
        font-weight: 900;
        margin: 0;
        text-align: center;
        @include sp {
          font-size: 2.4rem;
          padding: 0.7rem 0;
        }
        @include pc {
          font-size: 3rem;
          padding: 1rem 0;
        }
      }
      .purchase_step {
        display: flex;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        @include sp {
          font-size: 1.3rem;
          gap: 1rem;
          padding: 3rem 0.5rem 2rem;
          .detail {
            width: calc(100% - 16rem);
          }
        }
        @include pc {
          padding: 5rem 1.5rem 2rem;
          gap: 2.6rem;
        }
        .img {
          display: flex;
          flex-direction: column;
          @include sp {
            width: 7rem;
            gap: 1rem;
          }
          @include pc {
            width: 8.4rem;
          }
          .label {
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: 2rem;
            font-weight: 400;
            @include sp {
              font-size: 1.2rem;
            }
          }
        }
        .line {
          padding-bottom: 1.7rem;
          background-repeat: no-repeat;
          white-space: normal;
          padding-left: 0.5rem;

          &_back {
            background-image: url(../images/purchase_line_black.svg);
            background-position: bottom right;
          }
          &_red {
            background-image: url(../images/purchase_line_red.svg);
            background-position: bottom left;
          }
          &_orange {
            background-image: url(../images/purchase_line_orange.svg);
            background-position: bottom left;
          }
          .small {
            font-size: 0.8em;
          }
        }
      }
      .purchase_bot {
        margin-bottom: 0;
        margin-top: auto;
        text-align: center;
        .purchase_note {
          font-size: 1.8rem;
          font-weight: bold;
          margin-bottom: 3rem;
        }
        .purchase_percent {
          padding-bottom: 1rem;
          font-weight: bold;
          @include sp {
            padding-top: 2rem;
          }
          @include pc {
            padding-top: 3rem;
          }
          &_red {
            background-color: #dd000015;
          }
          &_orange {
            background-color: #ff740f15;
          }
          .text_lg {
            font-family: "M PLUS 1p";
            font-weight: 900;
            @include sp {
              font-size: 3.4rem;
            }
            @include pc {
              font-size: 4.5rem;
            }
          }
          .text_md {
            @include sp {
              font-size: 1.8rem;
            }
            @include pc {
              font-size: 2rem;
            }
          }
          .text_percent {
            @include sp {
              font-size: 2rem;
            }
            @include pc {
              font-size: 2.5rem;
            }
            span {
              vertical-align: middle;
              line-height: 1.2;
            }
            .percent {
              font-family: "M PLUS 1p";
              font-weight: 900;
              @include sp {
                font-size: 6rem;
              }
              @include pc {
                font-size: 8.5rem;
              }
            }
          }
        }
      }
    }
  }
}

#recommended {
  background-color: #ff740f55;
  background-image: url(../images/recommended_bg.webp);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  .section_title{
    img{
      @include sp{
      height: 14rem;
    }
    }
  }
  .recommended_point {
    display: flex;
    flex-wrap: wrap;
    counter-reset: point-number;
    @include sp {
      flex-direction: column;
      row-gap: 3rem;
    }
    @include pc {
      row-gap: 4rem;
      margin-left: -2.5rem;
      margin-right: -2.5rem;
    }
    .point {
      @include sp {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      @include pc {
        width: 50%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }
      .point_inner {
        background-color: #ff740f;
        border-top-left-radius: 2rem;
        overflow: hidden;
        height: 100%;
        @include sp {
          font-size: 1.8rem;
        }
        @include pc {
          font-size: 2.5rem;
        }
        .point_title {
          background-color: #fff50f;
          font-weight: 400;
          font-size: 3.5rem;
          font-family: "M PLUS 1p";
          line-height: 1;
          display: flex;
          align-items: center;
          @include sp {
            font-size: 2.4rem;
            padding: 0.5rem 2rem;
          }
          @include pc {
            font-size: 3.5rem;
            padding: 0.5rem 3rem;
          }
          @include tablet{
            font-size: 3rem;
            padding: 1rem 3rem;
          }
          &:after {
            counter-increment: point-number;
            content: "0" counter(point-number);
            text-align: center;
            line-height: 1.4em;
            width: 1.4em;
            height: 1.4em;
            display: inline-block;
            background-color: #ff740f;
            color: #fff;
            border-radius: 1.2em;
            margin-left: 1rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 0.75em;
            padding: 0.3rem;
            vertical-align: middle;
          }
        }
        .point_detail {
          color: #fff;
          @include sp {
            padding: 2rem 2rem;
          }
          @include pc {
            padding: 2rem 2.5rem;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
#plan {
  background-color: #eed23d25;
  .plan {
    @include sp {
      margin-left: -1rem;
      margin-right: -1rem;
      padding: 3rem 2rem;
      border-radius: 2rem;
    }
    @include pc {
      margin-left: -4rem;
      margin-right: -4rem;
      padding: 5rem 4rem;
      border-radius: 3.4rem;
    }
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
    &_photo {
      background-color: #dd000010;
    }
    &_delivery {
      background-color: #ff740f10;
    }
    .plan_title {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      @include sp {
        margin-bottom: 3rem;
        padding-top: 11rem;
      }
      @include pc {
        margin-bottom: 6rem;
      }
      span {
        border-radius: 5rem;
        font-family: "M PLUS 1p";
        font-weight: 900;
        @include sp {
          padding: 1rem 4rem;
          font-size: 2.4rem;
        }
        @include pc {
          padding: 1.5rem 8rem;
          font-size: 3rem;
        }
        small {
          font-family: "Helvetica Rounded", "Helvetica", "Noto Sans JP", sans-serif;
          font-weight: 500;
          font-size: 0.66em;
        }
      }
      picture{
        @include sp{
          width: 10rem;
          position: absolute;
          top: 0;
        }
        @include pc{
          
        margin-left: 1rem;
        transform: translateY(-10%);
        width: 11.5rem;
        }
      }
    }
    .plan_steps {
      display: flex;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      @include sp {
        flex-direction: column;
        gap: 2rem;
      }
      .step {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        @include pc {
          width: 25%;
        }
        .step_inner {
          background-color: #fff;
          border-radius: 0.7rem;
          padding: 3rem 1.5rem;
          height: 100%;
          .step_label {
            text-align: center;
            span {
              padding: 0.5rem 2rem;
              border-radius: 2rem;
            }
          }
          .step_img {
            img {
              height:  9.7rem;
              display: block;
              margin: 2rem auto 1rem;
            }
          }
          > p {
            font-weight: 400;
            width: fit-content;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

#voice {
  background-color: #ff740f55;
  background-image: url(../images/voice_bg.webp);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  .voice_wrap {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    .voice {
      display: flex;
      align-items: center;
      background-color: #fff;
      @include sp {
        flex-direction: column;
      }
      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        @include sp {
          width: 100%;
          padding: 2rem 0;
        }
        @include pc {
          width: 22rem;
          padding: 4.5rem 0;
          img{
            width: 15.5rem;
          }
        }
      }
      .review {
        @include sp {
          padding: 3rem 2rem;
        }
        @include pc {
          width: calc(100% - 22rem);
          padding: 4rem 6rem;
        }
        .review_name {
          font-size: 2.5rem;
          font-weight: bold;
          margin-bottom: 2rem;

          @include sp {
            font-size: 2.2rem;
          }
          @include pc {
            font-size: 2.5rem;
          }
          strong {
            font-family: "M PLUS 1p";
            font-weight: 900;
          }
        }
        p {
          margin: 0;
        }
      }
      &:nth-child(2n + 1) {
        .avatar {
          background-color: #ff740f;
        }
        .review_name {
          color: #ff740f;
        }
      }
      &:nth-child(2n + 2) {
        .avatar {
          background-color: #dd0000;
        }
        .review_name {
          color: #dd0000;
        }
      }
    }
  }
}

#faq {
  .container {
    max-width: 1450px;
  }
  .faq_wrap {
    display: flex;
    margin-left: -0.6rem;
    margin-right: -0.6rem;
    @include sp {
      flex-direction: column;
      gap: 5rem;
    }
    .faq {
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      @include sp {
        width: 100%;
      }
      @include pc {
        width: calc(1 / 3 * 100%);
      }
      .faq_inner {
        height: 100%;
      }
      .question {
        background-color: #fff;
        border-radius: 1.2rem;
        filter: drop-shadow(0 0.4rem 0.4rem #00000025);
        padding: 1.5rem 2rem;
        position: relative;
        min-height: 6rem;
        display: flex;
        align-items: center;
        @include sp {
          margin-bottom: 4rem;
        }
        @include pc {
          margin-bottom: 6rem;
        }
        @include tablet {
          font-size: 1.5rem;
        }
        &::before {
          content: "Q";
          color: #fff;
          top: 1rem;
        }
        &::after {
          content: "";
          background-image: url(../images/faq_arrow.webp);
          background-position: center top;
          background-repeat: no-repeat;
          width: 100%;
          position: absolute;
          left: 0;
          @include sp {
            bottom: -4rem;
            height: 3rem;
            background-size: auto 1.5rem;
          }
          @include pc {
            bottom: -7rem;
            height: 5rem;
          }
        }
      }
      .answer {
        height: calc(100% - 12rem);
        @include sp {
          padding: 1.5rem;
        }
        @include pc {
          padding: 3.5rem 2rem;
        }
        border-radius: 1.5rem;
        color: #fff;
        position: relative;
        &::before {
          content: "A";
          @include sp {
            top: 2rem;
          }
          @include pc {
            top: 3.5rem;
          }
        }
      }
      .question,
      .answer {
        position: relative;
        @include sp {
          padding-left: 5rem;
          font-size: 1.3rem;
        }
        @include pc {
          padding-left: 7rem;
        }
        &::before {
          position: absolute;
          display: inline-block;
          background-color: #fff;
          text-align: center;
          @include sp {
            left: 1rem;
            width: 3rem;
            height: 3rem;
            border-radius: 3rem;
            font-size: 2.4rem;
            line-height: 3rem;
          }
          @include pc {
            left: 1.5rem;
            width: 4rem;
            height: 4rem;
            border-radius: 4rem;
            font-size: 3rem;
            line-height: 4rem;
          }
        }
      }
      &:nth-child(2n + 1) {
        .answer,
        .question::before {
          background-color: #dd0000;
        }
        .answer::before {
          color: #dd0000;
        }
      }
      &:nth-child(2n + 2) {
        .answer,
        .question::before {
          background-color: #ff740f;
        }
        .answer::before {
          color: #ff740f;
        }
      }
    }
  }
}
#company {
  background-color: #ff740f55;
  background-image: url(../images/company_bg.webp);
  background-position: top center;
  background-size: cover;
  .company_info {
    background-color: #fff;
    @include sp {
      padding: 2rem;
      margin-bottom: 5rem;
      border-radius: 1rem;
    }
    @include pc {
      padding: 3rem 8rem;
      margin-bottom: 10rem;
      border-radius: 1.5rem;
    }
    dl {
      display: flex;
      margin-bottom: 0;
      font-family: "Helvetica Neue";
      @include sp {
        flex-direction: column;
      }
      &:not(:last-child) {
        border-bottom: 0.1rem solid #b1b1b1;
      }
      dt,
      dd {
        margin: 0;
        padding: 1.5rem 0;
      }
      dt {
        font-weight: bold;
        width: 22rem;
        @include sp {
          padding-bottom: 0;
        }
      }
      dd {
        font-weight: 400;
        @include sp {
          padding-top: 0;
        }
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
