@import "variable";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include sp {
    font-size: calc(10 / 375 * 100vw);
  }
  @include tablet {
    font-size: calc(10 / 1400 * 100vw);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Helvetica Rounded", "Helvetica", "Noto Sans JP", sans-serif;
  font-weight: 500;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  > img {
    display: none;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
  margin-top: 0;
  margin-bottom: 0.75em;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
a {
  color: #dd0000;
}

main {
  @include sp {
    margin-top: 7rem;
  }
  @include pc {
    margin-top: 11rem;
  }
}
.bg_black {
  color: #fff;
  background-color: #000;
}
.bg_red {
  color: #fff;
  background-color: #dd0000;
}

.bg_orange {
  color: #fff;
  background-color: #ff740f;
}
.text_orange {
  color: #ff740f;
}
.text_red {
  color: #dd0000;
}
.text_center {
  text-align: center;
}
.block {
  display: block;
}
.mb-5 {
  margin-bottom: 5rem;
}
.section {
  padding: 5rem 0;
}
.container {
  max-width: 1030px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.btn_contact {
  display: inline-block;
  background-color: #ff740f;
  box-shadow: inset 0 0.4em 0.4em #00000025;
  padding: 1rem 3rem;
  border-radius: 4rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.2;
  transition: 0.3s;
  position: relative;
  z-index: 10;
  @include sp {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
  }
  &:hover {
    box-shadow: inset 0 -0.4em 0.2em #00000025;
  }
  span {
    display: block;
  }
  .lg {
    font-size: 2rem;
    font-weight: bold;
    @include sp {
      font-size: 1.6rem;
    }
  }
}
@keyframes circleanime {
  0% {
    background-color: #dd0000;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes circleanime_white {
  0% {
    background-color: #fff;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
    opacity: 0.1;
  }
}
@keyframes circleanime_oranger {
  0% {
    background-color: #ff740f;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.4);
    opacity: 0.5;
  }
}

.btnripple,
.btnripple_arrow {
  display: inline-block;
  position: relative;
  &::before,
  &::after {
    content: "";
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: 0;
    top: 0;
    /*波形の形状*/
    border: 1px solid #dd0000;
    width: 100%;
    height: 100%;
    border-radius: 6rem;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation: 2s circleanime linear infinite;
  }
  &::before {
    animation-delay: 0.5s;
  }
}
.btnripple::before {
  animation-delay: 0.5s;
}
.btnripple_arrow::before {
  animation-delay: 1s;
}
.btnripple_arrow::after {
  animation-delay: 1.5s;
}

#logo {
  display: block;
  transition: 0.3s;
  @include sp {
    width: 10rem;
  }
  @include pc {
    width: 52rem;
  }
  img {
    display: block;
  }
}
#site_header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.3s;
  @include sp {
    padding: 1rem;
    padding-right: 7rem;
  }
  @include pc {
    padding: 2rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    @include sp {
      align-items: center;
      height: 5rem;
    }
    @include pc {
      margin-left: 12rem;
      margin-right: 12rem;
      align-items: flex-end;
    }
    @include tablet{
      margin-left: 2rem;
    }
    .header-right {
      @include pc {
        margin-right: 3rem;
      }

      .btnripple,
      .btnripple_arrow {
        &::before,
        &::after {
          border-color: #fff;
          animation-name: circleanime_oranger;
        }
      }
    }
  }
}

.contact_wrap {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 3rem;

  .btn_contact {
    background-color: #dd0000;
    @include sp {
      font-size: 1.8rem;
      padding: 1rem 3rem;
    }
    @include pc {
      font-size: 2.5rem;
      padding: 1rem 5rem;
      border-radius: 6rem;
    }
    span {
      font-weight: normal;
    }
    .lg {
      font-weight: bold;
      line-height: 1.4;

      @include sp {
        font-size: 2.6rem;
      }
      @include pc {
        font-size: 4rem;
      }
    }
  }
}
#logo_footer {
  @include sp {
    width: 12rem;
  }
}
#site_footer {
  background-color: #ff740f15;
  padding: 5rem 0;
  .footer_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include sp {
      gap: 2rem;
    }
    @include pc {
      gap: 3rem;
    }
    .contact_wrap {
      margin-top: 0rem;
      margin-bottom: 0;
    }
  }
  .footer_info {
    text-align: center;
  }
}

.section_title {
  text-align: center;

  img {
    width: auto;
    margin: 0 auto;
    @include sp {
      height: 12rem;
    }
    @include pc{
      height: 22rem;
    }


  }
}

.thanks-content {
  text-align: center;
  .line {
    background-color: #07b53b;
    color: #fff;
    padding: 3rem;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 3rem auto;
    display: block;
    text-decoration: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border-radius: 0.3rem;
  }
  .line1 {
    margin: 10px auto;
    width: 80%;
    border: 1px dashed #fff;
  }
}

.back_to_top {
  margin-top: 5rem;
  a {
    display: inline-block;
    padding: 1rem 4rem;
    background: #dd0000;
    color: #fff;
    text-decoration: none;
    border-radius: 3rem;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    &:hover {
      filter: drop-shadow(0 0 0.5rem #000);
    }
  }
}
@include pc {
  .hide-pc {
    display: none;
  }
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
#overlay-button {
  position: fixed;
  z-index: 99999;
  padding: 2.5rem 1rem;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  @include sp {
    right: 0;
    top: 1rem;
  }
  @include pc {
    right: 2em;
    top: 3rem;
  }
  span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: #dd0000;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
    &:before {
      top: -10px;
      visibility: visible;
    }
    &:after {
      top: 10px;
    }
    &:before,
    &:after {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: #dd0000;
      position: absolute;
      content: "";
      transition: all 0.2s ease-in-out;
    }
  }
  &:hover {
    span,
    span:before,
    span:after {
      background: #ff740f;
    }
  }
}

#overlay-input {
  display: none;
}

#overlay-input:checked ~ #overlay {
  visibility: visible;
  opacity: 1;
}

#overlay-input:checked ~ #overlay-button:hover span,
#overlay-input:checked ~ #overlay-button span {
  background: transparent;
}
#overlay-input:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  background-color: #fff;
}
#overlay-input:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
  background-color: #fff;
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: #ff740f;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 99998;
  .overlay_wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: #fff;
    .logo {
      width: 24rem;
    }
  }
  .contact_wrap {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .conpany_info {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    li {
      @include sp {
        padding: 0.5rem 1em;
      }
      @include pc {
        padding: 1em;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: #000 !important;
        }
      }
    }
  }
}
.break {
  flex-basis: 100%;
  height: 0;
}
body.fixed {
  #site_header {
    background-color: #ffffffbf;
    backdrop-filter: blur(10px);
    @include pc {
      padding: 1rem 2rem;
    }
  }
  #logo {
    @include pc {
      width: 42rem;
    }
  }
  #overlay-button {
    @include pc {
      top: 1rem;
    }
  }
}
#back_to_top {
  position: fixed;
  z-index: 999;
  display: none;
  @include sp {
    bottom: 1rem;
    right: 1rem;
  }
  @include pc {
    bottom: 3rem;
    right: 3rem;
  }
  .btt-inn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #fff;
    @include sp {
      width: 5rem;
      height: 5rem;
    }
    @include pc {
      width: 7rem;
      height: 7rem;
    }
  }
}
