<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_ACCEPT} image/webp
  RewriteRule (.+)\.png$ $1.png [NC,T=image/webp,L]
  RewriteCond %{HTTP_ACCEPT} image/webp
  RewriteRule (.+)\.jpg$ $1.jpg [NC,T=image/webp,L]
  RewriteCond %{HTTP_ACCEPT} image/webp
  RewriteRule (.+)\.jpeg$ $1.jpeg [NC,T=image/webp,L]
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 day"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType application/x-font-ttf		"access plus 1 year"
  ExpiresByType application/font-woff		"access plus 1 year"
	ExpiresByType font/opentype			"access plus 1 year"
	ExpiresByType application/xslt+xml		"access plus 1 year"
	ExpiresByType image/svg+xml			"access plus 1 year"
</IfModule>
