img {
  width: auto;
  max-width: 100%;
  height: auto;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
  margin-top: 0;
  margin-bottom: 0.75em;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: #dd0000;
}

#site_header {
  position: fixed;
  z-index: 999;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  left: 0;
  background-image: url(../images/header_bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}
@media screen and (max-width: 767px) {
  #site_header {
    padding: 2rem 1rem 3.5rem;
  }
}
@media screen and (min-width: 768px) {
  #site_header {
    padding: 4rem 1rem 7.5rem;
  }
}

.header_logo {
  display: inline-block;
}
.header_logo a {
  display: block;
}
@media screen and (max-width: 767px) {
  .header_logo .logo {
    width: 11.1rem;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  font-family: "DotGothic16", "Noto Sans JP", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.05em;
  background-color: #000;
}
body > img {
  display: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) {
  .hide_pc {
    display: none;
  }
}

.fadeup {
  transform: translateY(30px);
  opacity: 0;
}
.fadeup.is-inview {
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

.is-inview.delay-100 {
  animation-delay: 100ms;
}

.is-inview.delay-200 {
  animation-delay: 200ms;
}

.is-inview.delay-300 {
  animation-delay: 300ms;
}

.is-inview.delay-400 {
  animation-delay: 400ms;
}

.txt_grd {
  background-image: linear-gradient(to right, #ff00be 0%, #ff00be 29%, #3aa1ff 72%, #3fead7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  display: inline-block;
  border: 0.5rem solid #fff;
  border-radius: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  transition: 0.3s;
  filter: drop-shadow(0 0 1rem #fff);
}
.button .button_wrap {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 3rem 1.5rem 5.5rem;
  background-image: linear-gradient(to right, #29eedb 0%, #29eedb 20%, #ecec32 80%, #ecec32 100%);
}
@media screen and (max-width: 767px) {
  .button .button_wrap {
    padding: 1rem 1.5rem 1rem 3rem;
  }
}
.button .button_wrap span {
  font-size: 2rem;
  font-size: clamp(1.6rem, 1.6vw, 2rem);
  letter-spacing: 0.1em;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .button .button_wrap span {
    font-size: 1.4rem;
  }
}
.button .button_wrap span strong {
  font-size: 2.5rem;
  font-size: clamp(1.8rem, 1.8vw, 2.5rem);
}
@media screen and (max-width: 767px) {
  .button .button_wrap span strong {
    font-size: 1.8rem;
  }
}
.button .button_wrap::after {
  display: block;
  content: "";
  width: 5rem;
  height: 5rem;
  background-image: url(../images/button-arrow.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.button:hover {
  filter: drop-shadow(0 0 1rem #000);
}
.button:hover .button_wrap span {
  text-shadow: 0 0 1rem #000;
}

.txt_yellow {
  color: #e7fb00;
}

.txt_gray {
  color: #494949;
}

.section_title {
  text-align: center;
  margin-bottom: 5rem;
}
.section_title .title_bg {
  overflow: hidden;
  display: block;
}
.section_title .title_bg > span {
  display: inline-block;
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, 100);
  transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
.section_title.is-inview .title_bg {
  overflow: none;
}
.section_title.is-inview .title_bg > span {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.section_title .number {
  display: block;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 12rem;
  line-height: 1;
  background-color: rgba(173, 40, 180, 0.7);
  background-image: url(../images/number_bg.png);
  background-size: 1.2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 767px) {
  .section_title .number {
    font-size: 6rem;
  }
}
.section_title .txt {
  margin-top: -4.5rem;
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 4rem;
  font-weight: 400;
  padding: 1.5rem 3rem 2rem;
  background-image: url(../images/title_border.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .section_title .txt {
    font-size: 2.6rem;
  }
}

.section_desc {
  text-align: center;
  letter-spacing: 0.05;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .section_desc {
    font-size: 1.8rem;
  }
}

.container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
#back_to_top {
  display: none;
  position: fixed;
  z-index: 99;
  padding: 0.3rem;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  #back_to_top {
    right: 1rem;
    bottom: 3rem;
    width: 4rem;
    height: 4rem;
  }
}
@media screen and (min-width: 768px) {
  #back_to_top {
    right: 3rem;
    bottom: 3rem;
    width: 6rem;
    height: 6rem;
  }
}
#back_to_top::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -25%;
  top: -25%;
  width: 150%;
  height: 150%;
  background-image: linear-gradient(45deg, #ff00be 0%, #ca58ff 30%, #3aa1ff 60%, #3fead7 90%, #3fead7 100%);
  animation: rotate 4s linear infinite;
}
#back_to_top .inn {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #050314;
}

#page_content {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.button_back_top {
  margin-top: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 767px) {
  .button_back_top {
    flex-direction: column;
  }
}

.button-neon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 340px;
  height: 64px;
  font-size: 24px;
  color: #555;
  letter-spacing: 8px;
  font-family: "Kite One", sans-serif;
  text-shadow: 1px 1px 2px transparent, -1px -1px 2px transparent, -1px 1px 2px transparent, 1px -1px 2px transparent, 1px 1px 30px var(--color_4), -1px -1px 30px var(--color_4), -1px 1px 30px var(--color_4), 1px -1px 30px var(--color_4), 1px 1px 50px var(--color_6), -1px -1px 50px var(--color_6), -1px 1px 50px var(--color_6), 1px -1px 50px var(--color_6);
  box-sizing: border-box;
  border-radius: 12px;
  border: solid 2px #555;
  box-shadow: 0 0 4px transparent, 0 0 4px transparent inset, 0 0 20px var(--color_4), 0 0 20px var(--color_4) inset, 0 0 48px var(--color_6), 0 0 64px var(--color_6) inset;
  background: transparent;
  box-shadow: 0 0 4px var(--color_1), 0 0 4px var(--color_1) inset, 0 0 20px var(--color_2), 0 0 20px var(--color_2) inset, 0 0 48px var(--color_5), 0 0 64px var(--color_5) inset;
  text-shadow: 1px 1px 2px var(--color_1), -1px -1px 2px var(--color_1), -1px 1px 2px var(--color_1), 1px -1px 2px var(--color_1), 1px 1px 30px var(--color_3), -1px -1px 30px var(--color_3), -1px 1px 30px var(--color_3), 1px -1px 30px var(--color_3), 1px 1px 50px var(--color_5), -1px -1px 50px var(--color_5), -1px 1px 50px var(--color_5), 1px -1px 50px var(--color_5);
  color: #fff;
  border-color: #fff;
}
.button-neon:hover {
  --color_1: rgba(255, 100, 255, 0.8);
  --color_2: rgba(255, 100, 255, 0.6);
  --color_3: rgba(255, 100, 255, 0.3);
  --color_4: rgba(255, 100, 255, 0);
  --color_5: rgba(255, 20, 100, 0.5);
  --color_6: rgba(255, 20, 100, 0);
}
.button-neon-1 {
  /* color type A */
  --color_1: rgba(84, 248, 255, 0.8);
  --color_2: rgba(84, 248, 255, 0.6);
  --color_3: rgba(84, 248, 255, 0.3);
  --color_4: rgba(84, 248, 255, 0);
  --color_5: rgba(0, 0, 255, 0.5);
  --color_6: rgba(0, 0, 255, 0);
}
.button-neon-2 {
  /* color type B */
  --color_1: rgba(255, 100, 255, 0.8);
  --color_2: rgba(255, 100, 255, 0.6);
  --color_3: rgba(255, 100, 255, 0.3);
  --color_4: rgba(255, 100, 255, 0);
  --color_5: rgba(255, 20, 100, 0.5);
  --color_6: rgba(255, 20, 100, 0);
}
.button-neon-3 {
  /* color type C */
  --color_1: rgba(30, 255, 50, 0.8);
  --color_2: rgba(30, 255, 50, 0.6);
  --color_3: rgba(30, 255, 50, 0.3);
  --color_4: rgba(30, 255, 50, 0);
  --color_5: rgba(10, 150, 0, 0.3);
  --color_6: rgba(10, 150, 0, 0);
}
.button-neon-4 {
  /* color type C */
  --color_1: rgba(30, 255, 50, 0.8);
  --color_2: rgba(30, 255, 50, 0.6);
  --color_3: rgba(30, 255, 50, 0.3);
  --color_4: rgba(30, 255, 50, 0);
  --color_5: rgba(10, 150, 0, 0.3);
  --color_6: rgba(10, 150, 0, 0);
}

.breadcrumbs {
  padding: 3rem 2rem;
  text-align: right;
  font-size: 14px;
}

.breadcrumbs a {
  color: #fff;
  text-decoration: none;
}
.breadcrumbs a img {
  width: 2.4rem;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3s;
}
.breadcrumbs a:hover img {
  transform: scale(1.1);
}

#button_fixed {
  position: fixed;
  z-index: 999;
  display: none;
}
@media screen and (max-width: 767px) {
  #button_fixed {
    bottom: 1.5rem;
    left: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  #button_fixed {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 768px) {
  #button_fixed .button {
    border-radius: 1rem 0 0 1rem;
  }
}
@media screen and (max-width: 767px) {
  #button_fixed .button_wrap {
    padding: 1rem 2rem;
  }
  #button_fixed .button_wrap span {
    font-size: 1.4rem;
  }
  #button_fixed .button_wrap strong {
    font-size: 1.6rem;
  }
  #button_fixed .button_wrap::after {
    width: 3rem;
  }
}
@media screen and (min-width: 768px) {
  #button_fixed .button_wrap {
    padding: 2rem 1.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    writing-mode: lr;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  #button_fixed .btn_line {
    font-size: 1.6rem;
  }
  #button_fixed .btn_line::after {
    width: 6rem;
    background-size: 3rem;
  }
  #button_fixed .btn_line .shine {
    padding: 1.5rem 4rem;
    padding-right: 6rem;
  }
}
@media screen and (min-width: 768px) {
  #button_fixed .btn_line {
    font-size: 1.4rem;
  }
  #button_fixed .btn_line::before {
    width: 6rem;
    height: 6rem;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }
  #button_fixed .btn_line::after {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-size: 3rem;
  }
  #button_fixed .btn_line .shine {
    padding: 4rem 1.5rem 6rem 1.5rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
  }
  #button_fixed .btn_line .shine > span,
  #button_fixed .btn_line .shine > b {
    letter-spacing: 0.15em;
  }
  #button_fixed .btn_line .shine::after {
    left: 0;
    top: -75%;
    transform: skewX(330deg);
    animation-name: shine_top_to_bot;
  }
}

#site_footer {
  background-color: #050314;
  padding: 7rem 2rem;
  text-align: center;
}
#site_footer .footer_wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#site_footer .footer_wrap .menu_footer {
  color: #313131;
  font-weight: bold;
  font-size: 1.1em;
}
#site_footer .footer_wrap .menu_footer a {
  color: inherit;
}
#site_footer .footer_wrap .copyright {
  font-size: 1.4rem;
}